body {
  background: linear-gradient(135deg, #0a0f25, #162447, #1f4068);
}

/* --- Navbar --- */
.custom-navbar {
  background: linear-gradient(90deg, #0b0c10, #1f51ff);
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

.navbar-nav .nav-link {
  color: #dfe6f0 !important;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #00bfff !important;
}

.navbar-nav .dropdown-menu {
  background-color: #0f1118;
  border: 1px solid #1f51ff;
}

.navbar-nav .dropdown-item {
  color: #dfe6f0;
}

.navbar-nav .dropdown-item:hover {
  background-color: #1f51ff;
  color: #fff;
}


.card {
 background: rgba(20, 20, 20, 0.6) !important; /* Dark glass effect */
  backdrop-filter: blur(12px) !important;
  border-radius: 20px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  color: #fff !important;
  color: #fff;
  padding: 10px; 
  height: auto;
  max-width: 600px;
  margin: auto;
}


.card img {
  width: 120px;  /* chhota image */
  height: 120px;
  object-fit: cover;
  margin: 10px auto;
}

.card-body {
  padding: 8px; 
}

.card-title {
  font-size: 2rem; 
  margin-bottom: 5px;
}

.card-text {
  font-size: 1rem; 
  margin-bottom: 5px;
}

.card-price-vertical {
  display: flex;
  flex-direction: column; 
  gap: 3px;
}

.card-price-vertical .original-price,
.card-price-vertical .price {
  display: flex;
  justify-content: space-between; 
  font-size:130%; 
}

.original-price {
  text-decoration: line-through;
  color: #ccc;
}

.price {
  color: #28a745;
  font-weight: bold;
}

.card-link.btn {
  font-size: 1rem; /* button chhota */
  padding: 4px 8px;
  margin-top: 5px;
}
#logo {
        border-radius: 50%;
        width: 70px;
        height: 70px;
}
   /* Footer */
    footer {
      background: #000;
      color: white;
      text-align: center;
      padding: 15px 0;
      margin-top: 50px;
    }


footer a:hover i,
footer a:hover {
  color: #00bfff !important;
  transition: color 0.3s ease;
}